*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
body[data-theme='light']{
  --primary-color: #4EBCFF;
  --secondary-color: #2F95FA;
  --third-color: #097FF5;
  --login-description-color:#6e6e6e;
  --placeholder-color: #E0E0E2;
  --text-color:black;
  --link-color:#61A3DD;
  --bg-color:#FFFFFF;
  --login-bg-color:#F9F9F9;
  --input-border-color:#B5B5B5;
  --input-bg-color:#F7F7F7;
  --forum-checked-color:#A2B0D7;
  --button-border-color:#9A9999;
  --button-bg-color:#F0F0F0;
  --error-color:#B00020;
  --shadow-color:#0000001a;
  --border-color:#cacaca;
  --font-segoe:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --font-georgia:Georgia, 'Times New Roman', Times, serif;
}

body[data-theme='dark'] {
  --primary-color: #097FF5;
  --secondary-color: #2F95FA;
  --third-color: #4EBCFF;
  --placeholder-color: #4e4e4e;
  --link-color:#71bafa;
  --text-color:#ffffff;
  --bg-color:#000000;
  --input-border-color:#e6e5e5;
  --input-bg-color:#b3b3b3;
  --forum-checked-color:#4c72db;
  --button-border-color:#616060;
  --button-bg-color:#3a3a3a;
  --border-color:#858585;
  --shadow-color:#fcfbfb1a;
}